*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "silkscreen";

}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #9BBEC8;
}

.gif{
    height: 200px;
    width: 100%;
}

h2{
    text-align: center;
    font-size: 1.5em;
    color: #427D9D;
    margin: 15px 0;
}


.btns{
    height: 45px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
   
}


button{
    position: absolute;
    height: 45px;
    width: 150px;
    font-size: 1.2rem;
    border-radius: 30px;
    cursor: pointer;
    
}


.yes-btn{
    margin-left: -200px;
    background: #427D9D;
    border: 2px solid #427D9D;
    color: #FFEADD;
}

.yes-btn:hover{
    box-shadow: 2px 2px 4px rgba(104, 146, 211, 0.5);
    background-color: #DDF2FD;
    border: 2px solid #DDF2FD;
    color: #427D9D;
    font-weight: bolder;

}


.no-btn{
    margin-right: -200px;
    background: #DDF2FD;
    color: #427D9D;
    border: 2px solid #DDF2FD;

}
