*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "silkscreen";

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #FCAEAE;
}

.gif {
    height: 100%;
    width: 100%;
}

h2 {
    text-align: center;
    font-size: 1.5em;
    color: #960d16;
    margin: 15px 0;
}


.btns{
    height: 45px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
   
}


button {
    position: absolute;
    height: 45px;
    width: 150px;
    color: white;
    font-size: 1.2rem;
    border-radius: 30px;
    cursor: pointer;
    
}


.yes-btn{
    margin-left: -200px;
    background: #FF8989;
    border: 2px solid #FF8989;
    color: #FFEADD;
}

.yes-btn:hover{
    box-shadow: 2px 2px 4px rgba(255, 0, 0, 0.5);
    background-color: #FFEADD;
    border: 2px solid #FFEADD;
    color: #FCAEAE;
    font-weight: bolder;

}


.no-btn{
    margin-right: -200px;
    background: #FFEADD;
    color: #FF8989;
    border: 2px solid #FFEADD;

}